:root {
  --color1: rgba(52, 57, 81, 1);
  --color2: rgba(70, 76, 97, 1);
  --color3: rgba(133, 138, 157, 1);
  --color4: rgba(190, 192, 200, 1);
  --color5: rgba(255, 159, 0, 1);
  --color6: rgba(255, 252, 248, 1);
  --color7: rgba(255, 178, 51, 1);
  --color8: rgba(245, 246, 252, 1);
  --color9: rgba(255, 255, 255, 1);
  --color10: rgba(224, 231, 241, 1);
  --color11: rgba(197, 199, 206, 1);
  --color12: rgba(255, 217, 153, 1);
  --color13: rgba(176, 179, 191, 1);
  --color14: rgba(196, 196, 196, 1);
  --color15: rgba(74, 194, 157, 1);
  --color16: rgba(255, 104, 96, 1);
  --color17: rgba(188, 190, 202, 1);
  --color18: rgba(104, 159, 248, 1);


  --font8: 8px;
  --font9: 9px;
  --font10: 10px;
  --font11: 11px;
  --font12: 12px;
  --font13: 13px;
  --font14: 14px;
  --font15: 15px;
  --font20: 20px;
  --font25: 25px;
}

.app {
  display: grid;
  grid-template-columns: 15% 60% 21%;
  grid-gap: 0 2%;
  height: 100vh;
}


.fullYellow {
  background: var(--color5);
}

.fullGreen {
  background: var(--color15);
}

.fullRed {
  background: var(--color16);
}

.fullBlue {
  background: var(--color18);
}

.fullGray {
  background: var(--color17);
}